body{
    font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    "BIZ UDPGothic",
    Meiryo,
    sans-serif;
    margin:0;
    padding:0;
    text-align:left;
    font-size: 80px;
}
header{
    background-color: #d1cfcfbd;
    text-align: center;
    margin: 0;
}

h1{
    margin: 0;
    height: 300px;
    line-height: 300px;
}

.tuto{
    font-size: 60px;
    margin: 0;
    height: 200px;
    line-height: 100px ;
}

.rule {
    margin: 100px auto 100px auto;
    border: gray solid 20px;
    max-width: 2500px ;
    border-radius: 100px;
}

.ruletitile {
    text-align: center;
    padding-top: 40px;
    font-size: 150px;
    font-weight: bold;
}

ul li{
    list-style: none;
    padding-top: 20px;
    padding-bottom: 20px;
}

main{
    margin: 100px 0 0 0;
    display: flex;
    justify-content: center; /*横並びの要素を中央寄せする*/
    /* justify-content:space-around */
}

.illust {
    margin: 100px 200px 100px 200px;
    cursor: pointer;
    /* border: 10px dashed gray; */
    border-radius: 100px;
    width: 500px;
    min-width: 500px;
    height: 200px;
    font-size: 100px;
    color: white;
    font-weight: bold;
    text-align: center; /*テキストの左右中央ぞろえ*/
    line-height: 208px; /*テキストの上下中央ぞろえ*/
    transition: .3s;
}
.gu{
    background-color: #e91717;
}
.cho{
    background-color: gold;
}
.pa{
    background-color: #191970;
}

.hatena{
    width: 500px;
    height: 500px;
}

footer{
    background-color: #fff;
    text-align: center;
}
p{
    font-size:200%;
    text-align: center;
    border-bottom:1px solid #fff;
    height:200px;
}
.illust:hover{
    background: #00ff7f;
    color:#fff;
}

.hands{
    font-size: 30px;
    margin: 200px 0 0 0;
    display: flex;
    justify-content: center;
}


.displayhands{
    width: 800px;
    height: 800px;
    display:flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.VS{
    font-size: 100px;
}

/* .your_hands{
    width: 500px;
    height: 500px;
    
} */

.judge{
    text-align: center;
    margin-top: 0;
    margin-bottom: 100px;
}

input{
    width: 1000px;
    height: 150px;
    font-size: 80px;
}

.remaininghand {
    display: flex;
    justify-content: space-between;
    width: 2500px;
    margin-right: auto;
    margin-left: auto;
    
}

.table_hand{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: auto;
    margin-left: auto;
    width: 1100px;
    height: 600px;
    text-align: center;
    table-layout: fixed;
    border:10px solid #2f4154;
}

.table_star{
    margin-top: 0px;
    margin-bottom: 200px;
    margin-right: auto;
    margin-left: auto;
    width: 1100px;
    height: 250px;
    text-align: center;
    table-layout: fixed;
    border:10px solid #2f4154;
}

.tabletitle {
    background-color:#ccc
}

table td{
    padding: 10px 0px 10px 0px;
}

.reset{
    background-color: #1a83ec;
    border: #1a83ecc;
    color: white;
    font-size: 150px;
    font-weight: bold;
    text-align: center;
    line-height: 300px;
    border-radius: 200px;
    cursor: pointer;
    width: 2350px;
    height: 300px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 100px
}

.reset:hover{
    background-color: white;
    border: 10px solid #1a83ec;
    color: #1a83ec;
    font-weight: bold;
}

.popup{
    /* 通常は非表示 */
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    /* 背景色の透過 */
    background: rgba(0, 0, 0, 0.2)
}

.popup_content {
    position:absolute;
    /* 絶対値で配置 */
    top: 50%;
    left: 50%;
    width: 1500px;
    height: 1500px;
    transform: translate(-50%, -50%);
    background-color: #FFF;
    text-align: center;
    padding: 100px;
    border-radius: 10%;
    /* 円にする */
    border:solid, gray ;
    justify-content: center;
    align-items: center;
}

.result {
    font-size: 100px;
}

.finalresult {
    font-weight: bold;
    font-size: 300px;
    margin-top: 150px;
}

.close{
    background-color: gray;
    border: #1a83ecc;
    color: white;
    font-size: 80px;
    font-weight: bold;
    text-align: center;
    line-height: 300px;
    border-radius: 200px;
    cursor: pointer;
    width: 600px;
    height: 300px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 100px
}

.close:hover{
    background-color: white;
    border: 10px solid gray;
    color: gray;
    font-weight: bold;
}